/*
criar uma galeria de fotos com 3 colunas e 9 fotos
deixar espaço de .8rem entre elementos
*/

img {
    width: 27%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}