/*
crie um botao que contenha um icone (img) e um texto
coloque um espaço de .4rem entre os elementos
*/

figure {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin: 1px;
}

img {
    width: 50px;
    height: 35px;    
}

button {
    width: 100px;
    height: 40px;
}