<!DOCTYPE html>
    <%- include("../partials/head"); %>

    <body class="container">
        <!-- é possivel enviar objetos para a inclusão -->
        <%- include("../partials/header", {pagina: 'sobre'}); %>
        <main>
            <div class="jumbotron"></div>
            <h1>Sobre mim</h1>
            <p>Oi sou o lulu e é isso ai</p>
        </main>

        <%- include("../partials/footer"); %>
    </body>
</html>